*, *:before,*:after{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  background-color: brown;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  padding-top: 20px;
}
.navbar-items{
  display: flex;
  list-style: none;
  margin-right: 40px;
}
.navbar-items li {
  border-radius: 5px;
  margin: 0 5px;
}
.navbar-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 95%;
  color: whitesmoke;
  text-transform: uppercase;
  display: block;
}
.navbar-items li:hover, li.active {
  background-color: rgba(0,0,0, .3);
  transition: .4s;
}
.navbar-items li:active {
  background-color: rgba(0,0,0, .3);
}

/*Partners*/


/*Fedback*/
.box-area {
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
  align-content: center;
}
.single-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: rgb(238, 192, 67);
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: .3s;
  
}
.img-area{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 6px solid rgb(83, 83, 71);
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.single-box:nth-child(1) .img-area{
  background-image: url('/img/face1.jpg');
}
.single-box:nth-child(2) .img-area{
  background-image: url('/img/face2.jpg');
}
.single-box:nth-child(3) .img-area{
  background-image: url('/img/face1.jpg');
}

/*ContactMe*/

.contact-info{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-area{
  display: flex;
  background-color: rgb(22, 21, 21);
  border-radius: 25px;
  padding: 1.9em;
  margin: 20px;
  padding: 20px;

}

